[submodule "bwtoolkit"]
	path = bwtoolkit
	url = https://github.com/veritas-shine/bwtoolkit.git
[submodule "Library/PXSourceList"]
	path = Library/PXSourceList
	url = http://github.com/veritas-shine/PXSourceList.git
